NODE_ENV=development
HTTP_PORT=4200
HTTP_HOST=0.0.0.0
LOG_LEVEL=info

# Format : "model=url1,url2;model2=url3"
MODEL_BACKENDS=mistral-large-instruct=http://vllm-mistral:8000

BACKEND_TIMEOUT_S=120.0

OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_SERVICE_NAME=inference-router
